.footer{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    color: white;
}

.footerIcons{
    padding-left: 5px;
}

.footerStatus{
    padding-left: 140px;
    font-size: 12px;
}

.footerStatus > .MuiSvgIcon-root{
    font-size: 15px;
    padding-left: 10px;
}